━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                       🔐 𝐄𝐧𝐯𝐢𝐫𝐨𝐧𝐦𝐞𝐧𝐭 𝐕𝐚𝐫𝐢𝐚𝐛𝐥𝐞𝐬 🔐

API_ID=27263782
API_HASH=d7b791118bced0eff4ca83f0d979e964
BOT_TOKEN=
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=1129848570
OWNER_USERNAME=@GodxSharma
BOT_USERNAME=HydraxMusic_bot
UPSTREAM_REPO=https://github.com/Meenu9050/Ganna-Music-App-new-
STRING_SESSION=
LOG_GROUP_ID=-1002673174815
SUPPORT_GROUP=https://t.me/Hydrax_Music_update
SUPPORT_CHANNEL= https://t.me/dark_x_knight_musiczz_support/112
